.Dashboard {
  position: fixed;
  background-color: #4273fb;
  height: 1080px;
  width: 100vw;
}

.Dashboard-header {
  position: absolute;
  background-color: #5b82ef;
  border-bottom: medium solid black;
  height: 10%;
  width: 100%;
}

.Dashboard-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Dashboard-title {
  position: absolute;
  font-size: large;
  font-weight: 800;
  width: fit-content;
  height: 50%;
  text-align: left;
}

.Dashboard-main {
  position: absolute;
  top: 15%;
}

.Dashboard-module1 {
  position: absolute;
  border: none;
  top: 15%;
  left: 15%;
  text-align: center;
  justify-content: center;
}

.Dashboard-module2 {
  position: absolute;
  border: none;
  right: 40%;
  top: 15%;
  text-align: center;
  justify-content: center;
}

.Dashboard-module3 {
  position: absolute;
  border: small solid black;
  left: 10%;
  top: 40%;
  text-align: center;
}

.Dashboard-module4 {
  position: absolute;
  border: none;
  right: 45%;
  top: 40%;
  text-align: center;
}
