.Dashboard {
  position: fixed;
  background-image: url(../res/background.jpg);
  height: 100vh;
  width: 100vw;
}

.Dashboard-header {
  position: absolute;
  background-color: #5b82ef;
  border-bottom: medium solid black;
  height: 10%;
  width: 100%;
}

.Dashboard-logo {
  display: block;
  margin-left: auto;
  margin-top: 1%;
  margin-right: auto;
  width: 25%;
}

.Dashboard-title {
  position: absolute;
  font-size: large;
  font-weight: 800;
  width: fit-content;
  height: 50%;
  text-align: left;
}

.Dashboard-main {
  position: absolute;
  top: 15%;
}

.Dashboard-module1 {
  position: absolute;
  border: none;
  top: 15%;
  left: 5%;
  text-align: center;
  justify-content: center;
}

.Dashboard-module2 {
  position: absolute;
  border: none;
  right: 60%;
  top: 15%;
  text-align: center;
  justify-content: center;
}

.Dashboard-module3 {
  position: absolute;
  border: small solid black;
  left: 5%;
  top: 50%;
  text-align: center;
}

.Dashboard-module4 {
  position: absolute;
  border: none;
  bottom: 0%;
  margin-bottom: 15vh;
  right: 100%;
  text-align: center;
}
