@import '~antd/dist/antd.css';
.Login{
    position: fixed;
    background-image: url(../res/background.jpg);
    height: 1080px;
    width: 100vw;
}

.Login-header{
    text-align: center;
    position: absolute;
    background-color: #406dec;
    justify-content: center;
    top: 5%;
    right: 30%;
    left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: medium solid black;
}

.Login-box{
    position: absolute;
    background-color: #bac9f0;
    border-radius: 15px; 
    top: 15%;
    left: 15%;
    right: 55%;
    bottom: 40%;
    border: medium solid rgb(36, 35, 35);
    justify-items: center;
    text-align: left;
    font-size: 2em;
}

.Login-Message{
    position: absolute;
    background-color: #bac9f0;
    border-radius: 15px; 
    top: 15%;
    right: 10%;
    width: fit-content;
    bottom: auto;
    border: medium solid rgb(36, 35, 35);
    justify-items: center;
    text-align: left;
    font-size: 2em;
}

.Error-Message {
    position: absolute;
    top: 90%;
    left: 15%;
    right: 55%;
    bottom: 40%;
    width: fit-content;
    color: red;
    

}

.Center-text{
    text-align: center;
}