@import '~antd/dist/antd.css';
.Login{
    position: fixed;
    background-image: url(../res/background.jpg);
    height: 1080px;
    width: 100vw;
}

.Login-header{
    text-align: center;
    position: absolute;
    background-color: #406dec;
    justify-content: center;
    top: 5%;
    right: 30%;
    left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: medium solid black;
}

.Login-box{
    position: absolute;
    background-color: #406dec;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 40%;
    border: medium solid black;
    justify-items: center;
    text-align: left;
    font-size: 1em;
}

.Center-text{
    text-align: center;
}